body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img1 {
  padding: 10px;
  background-color: hsl(220, 15%, 22%);
  border-radius: 50%;
}
#main-card {
  background-color: hsl(213, 19%, 18%);
  width: 300px;
  padding: 20px;
  color: white;
  border-radius: 15px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 20px;
}
#main-card p:nth-child(3) {
  color: hsl(216, 12%, 54%);
  margin-bottom: 20px;
  font-size: 13px;
}

.btn {
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  background-color: hsl(220, 15%, 22%);
  color: hsl(219, 8%, 53%);
}
.btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}
.btn:active {
  background-color: hsl(218, 12%, 68%);
  color: white;
}
.btn:focus {
  background-color: hsl(218, 12%, 68%);
}
.submit-btn {
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
}
.submit-btn:hover {
  color: hsl(25, 97%, 53%);
  background-color: white;
}

#thank-you {
  background-color: hsl(213, 19%, 18%);
  width: 300px;
  padding: 20px;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.selected-info {
  background-color: hsl(215, 22%, 15%);
  padding: 10px;
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  width: 170px;
  margin: 15px auto;
}
#thank-you p:nth-child(5) {
  color: hsl(216, 12%, 54%);
}

.hidden {
  display: none;
}
